.text-pink {
    color: #fd1972;
}
.bg-pink {
    background-color: #fd1972;
}
.bg-light-pink {
    background-color: #e685b5;
}
.bg-light-blue {
    background-color: #3dd5f3;
}
.bg-light-yellow {
    background-color: #ffc107;
}
.categories img {
    width: 110px;
}
